
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.instantapps.feature.base">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:allowBackup="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:supportsRtl="true" />

</manifest>
